.card {
    max-width: 225px;
    min-width: 150px;
    height: 400px;
    margin-bottom: 30px;
}

.header-image {
    background-size: cover;
}

.mat-elevation-z5 {
    position: relative;
}

.mat-card-title {
    max-height: 30px;
    overflow: hidden;
    font-size: 1rem;
}

.mat-card-content {
    height: 75px;
    max-height: 75px;
    overflow: hidden;

    p {
        font-size: 0.8rem;
    }
}

.mat-card-image {
    height: 180px;
    max-height: 180px;
    overflow: hidden;
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-right: 10px;
    }
}
