<div class="content">
    <h3>Add a new guitar here:</h3>
</div>
<div class="container">
    <form class="add-new-form" [formGroup]="addNewForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Manufacturer:</mat-label>
            <input matInput [formControl]="anf.manufacturer">
            <mat-error *ngIf="anf.manufacturer.hasError('required')">
                The instrument manufacturer is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Model Name:</mat-label>
            <input matInput [formControl]="anf.modelName">
            <mat-error *ngIf="anf.modelName.hasError('required')">
                The model name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Description:</mat-label>
            <textarea matInput rows="4" cdkTextareaAutosize="false" [formControl]="anf.description" ></textarea>
            <mat-error *ngIf="anf.description.hasError('maxlength')">
                Please keep your description to <strong>less than</strong> 250 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Year of Manufacture:</mat-label>
            <input matInput [formControl]="anf.yearMade">
            <mat-error *ngIf="anf.yearMade.hasError('min')">
                Was the instrument really made <strong>before</strong> 1900?
            </mat-error>
            <mat-error *ngIf="anf.yearMade.hasError('max')">
                Was the instrument really made <strong>after</strong> 2050?
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Number of strings:</mat-label>
            <input matInput [formControl]="anf.numStrings">
            <mat-error *ngIf="anf.numStrings.hasError('min')">
                Really? Even Seasick Steve's instruments have at least 1 string!
            </mat-error>
            <mat-error *ngIf="anf.numStrings.hasError('max')">
                Maximum of <strong>8</strong> strings. No harps allowed!
            </mat-error>
        </mat-form-field>

        <div class="image-button">
            <button mat-stroked-button type="button" (click)="filePicker.click()">Choose an image</button>
            <span class="image-upload-required-warning" *ngIf="!imagePreview">
                * An image of the instrument is required
            </span>
            <input type="file" #filePicker (change)="onImageSelected($event)">
            <div class="image-file-type-error" *ngIf="anf.imagePath.invalid && imagePreview !== '' && fileUploadTouched == true">
                Only .png and .jpg files can be uploaded (max size: {{maxFileUploadSize}})
            </div>
            <mat-progress-bar 
                *ngIf="isSubmitting" 
                [value]="uploadProgress$ | async" 
                mode="determinate"
            >
            </mat-progress-bar>
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && anf.imagePath.valid">
            <img [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)" [alt]="anf.title">
        </div>

        <div class="item-status-group">
            <mat-label>Should this instrument be publicly visible?:</mat-label>
            <div class="item-status-buttons">
                <mat-radio-group [formControl]="anf.itemStatus" aria-label="Private/Public">
                    <mat-radio-button value="1">Public</mat-radio-button>
                    <mat-radio-button value="0">Private (will only be visible to you - can be changed later)</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
        <div class="buttons">
            <button mat-raised-button color="primary" 
                    [disabled]="addNewForm.invalid || isSubmitting" 
                    type="submit">Add Guitar
            </button>
            <span [hidden]="!isSubmitting">
                <mat-progress-spinner 
                    mode="indeterminate" 
                    diameter='25' 
                    color="primary" 
                    strokeWidth='5'>
                </mat-progress-spinner>
            </span>
        </div>

    </form>
</div>
