.content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.add-new-form {
    min-width: 150px;
    max-width: 600px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.element-full-width {
    width: 100%;
}

.buttons {
    margin-top: 50px;
}

mat-progress-spinner {
    display: inline-block;
    margin: 10px 0px -9px 20px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.itemStatusGroup {
    margin: 15px 0;
}