.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.register-form {
    min-width: 150px;
    max-width: 500px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.element-full-width {
    width: 100%;
}

.buttons {
    margin-top: 25px;
}

a {
    color: black;
}

mat-progress-spinner {
    display: inline-block;
    margin: 10px 0px -9px 20px;
}

.signUpButton {
    width: 200px;
    margin-left: -3px;
    margin-top: 5px;

    &:hover {
        cursor: pointer;
    }
}
