<div class="container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div>
            <h1>Register</h1>
        </div>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Your Name:</mat-label>
            <input matInput [formControl]="rf.displayName">
            <mat-error *ngIf="rf.displayName.hasError('required')">
                Your name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="rf.displayName.hasError('minlength')">
                Your name <strong>must</strong> be at least 2 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Email:</mat-label>
            <input matInput [formControl]="rf.email" placeholder="Eg. you@email.com">
            <mat-error *ngIf="rf.email.hasError('email') && !rf.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="rf.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Password:</mat-label>
            <input matInput [formControl]="rf.password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" tabindex="-1">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="rf.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="rf.password.hasError('pattern')">
                Password <strong>must</strong> be 8 characters or more, 
                with at least 1 uppercase letter, 1 number and 1 special character (!@#$%&*()-+=^)
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Confirm Password:</mat-label>
            <input matInput [formControl]="rf.confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button" tabindex="-1">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="rf.confirmPassword.hasError('required')">
                Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="rf.confirmPassword.hasError('mustmatch')">
                Passwords <strong>must</strong> match
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Brief details about you:</mat-label>
            <textarea matInput rows="4" cdkTextareaAutosize="false" [formControl]="rf.biography" ></textarea>
            <mat-error *ngIf="rf.biography.hasError('maxlength')">
                Your details should be less than 150 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="element-full-width">
            <mat-label>Profile Image:</mat-label>
            <input matInput [formControl]="rf.profileImagePath">
        </mat-form-field>

        <div class="buttons">
            <button mat-raised-button color="primary" [disabled]="registerForm.invalid || isSubmitting" type="submit" >Register</button>
            <span [hidden]="!isSubmitting">
                <mat-progress-spinner 
                    mode="indeterminate" 
                    diameter='25' 
                    color="primary" 
                    strokeWidth='5'>
                </mat-progress-spinner>
            </span>
        </div>

        <div style="margin-top: 25px;">
            Or:
        </div>
        <div (click)="registerWithGoogle()" class="signUpButton">
            <img src="../../../assets/images/google_signup_button.png" class="signUpButton">
        </div>
        
    </form>
</div>
