.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  height: 75px;
  z-index: 1;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 10px;
  margin-right: 15px;
}

a {
  color: white;
  font-size: 0.9rem;
}