<div class="container">
  <h3>Your current guitar collection:</h3>
</div>
<div class="container">
  <app-guitar-card
    [cardActionType]="cardActionType.Edit"
  >
  </app-guitar-card>

  <mat-card class="card mat-elevation-z5">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/thumb/men/9.jpg')"></div>
      <mat-card-title>Add a new guitar</mat-card-title>
      <mat-card-subtitle>Donny Barr</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image 
      class="new-guitar" 
      src="../assets/images/default_guitar.jpg" 
      alt="Photo of a guitar"
      routerLink="/account/add-new-guitar"  
    >
    
    <mat-card-content>
    </mat-card-content>

    <mat-card-actions>
      <div class="card-actions">
        <button mat-raised-button color="accent" routerLink="/account/add-new-guitar">Add</button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
