<div class="content">
  <div class="container">
    <h3>Your current guitar collection:</h3>
  </div>
  <div class="container">
      <mat-card class="card mat-elevation-z5" *ngFor="let guitar of (guitars$ | async)">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url({{guitar.ownerImagePath}})"></div>
          <mat-card-title>{{guitar.manufacturer}} {{guitar.modelName}}</mat-card-title>
          <mat-card-subtitle>{{guitar.ownerName || 'Unknown Player'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{guitar.imagePath}}" alt="Photo of a {{guitar.manufacturer}} {{guitar.modelName}}">
        <mat-card-content>
          <p>
            {{guitar.description}}
          </p>
        </mat-card-content>
        <app-guitar-card></app-guitar-card>
      </mat-card>
    
    <div class="ml-3">
      <button mat-raised-button color="accent" routerLink="/account/add-new-guitar">Add</button>
    </div>
  </div>
</div>
