<div class="container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <div *ngIf="(loggedInUser$ | async); else noLoggedInUser">
            <div>
                <h2>Hmmm...</h2>
            </div>
            <h4>It looks like you're already logged in!</h4>
            <p><a routerLink="/account/collection">Click here to go to your account</a></p>
        </div>

        <ng-template #noLoggedInUser>
            <div>
                <h1>Log in</h1>
            </div>
            <mat-form-field appearance="standard" class="element-full-width">
                <mat-label>Email:</mat-label>
                <input matInput [formControl]="email" placeholder="Eg. email@email.com">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="element-full-width">
                <mat-label>Password:</mat-label>
                <input matInput [formControl]="password" [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="password.hasError('minlength')">
                    Password <strong>must</strong> be 6 characters or more
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Sign In</button>
            </div>

            <!-- <div style="margin-top: 25px;">
                Or:
            </div>
            <div (click)="logInWithGoogle()" class="signInButton">
                <img src="../../../assets/images/google_signin_button.png" class="signInButton">
            </div> -->

            <div style="margin-top: 25px;">
                Don't have an account? Register <a routerLink="/account/register">here</a>
            </div>
        </ng-template>

    </form>
</div>
