<mat-card-actions *ngIf="cardActionType !== cardActionTypesEnum.None">
    <ng-container *ngIf="cardActionType === cardActionTypesEnum.Share">
        <div class="card-actions">
            <button mat-mini-fab color="primary">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="cardActionType === cardActionTypesEnum.Edit">
        <div class="card-actions">
            <button mat-raised-button color="warn">Edit</button>
        </div>
    </ng-container>
</mat-card-actions>
