.content {
    margin: auto;
    width: 60%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px 0px 25px 0px;
}

.spacer {
    flex: 1 1 auto;
}

a {
    color: black;
}
