<div class="container">
  <mat-card class="card mat-elevation-z5" *ngFor="let guitar of (guitars$ | async)">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url({{guitar.ownerImagePath}})"></div>
      <mat-card-title>{{guitar.manufacturer}} {{guitar.modelName}}</mat-card-title>
      <mat-card-subtitle>{{guitar.ownerName || 'Unknown Player'}}</mat-card-subtitle>
    </mat-card-header>
    <a [routerLink]="['/guitars/details']" [queryParams]="{id: guitar.id}" >
      <img mat-card-image src="{{guitar.imagePath}}" alt="Photo of a {{guitar.manufacturer}} {{guitar.modelName}}">
    </a>
    <mat-card-content>
      <p>
        {{guitar.description}}
      </p>
    </mat-card-content>
    <app-guitar-card-actions
      cardActionType={{cardActionType}}
      likes={{guitar.likes}}
    ></app-guitar-card-actions>
  </mat-card>
</div>
