.card {
    max-width: 225px;
    min-width: 150px;
    height: 400px;
    margin-bottom: 30px;
    margin-inline: 10px;
}

.header-image {
    background-size: cover;
}

.mat-elevation-z5 {
    position: relative;
}

.mat-card-title {
    max-height: 30px;
    overflow: hidden;
    font-size: 1rem;
}

.mat-card-content {
    height: 80px;
    max-height: 80px;
    overflow: hidden;

    p {
        font-size: 0.8rem;
    }
}

.mat-card-image {
    height: 180px;
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-right: 10px;
    }
}

.content {
    margin: auto;
    width: 70%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
