<div class="content">
  <div class="container">
    <mat-card class="card mat-elevation-z5">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/men/9.jpg')"></div>
          <mat-card-title>Fender Jaguar</mat-card-title>
          <mat-card-subtitle>Donny Barr</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/fender-jaguar-donny-barr-guitar.png" alt="Photo of a Fender Jaguar">
        <mat-card-content>
          <p>
            This is Donny's signature model created in collaboration with Fender and released in 2017.
            The pickups are deliberately wired out of phase for that distinctive Donny Barr sound.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="card-actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card mat-elevation-z5">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
          <mat-card-title>Gibson Les Paul</mat-card-title>
          <mat-card-subtitle>Bo Jonabassa</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/gibson-les-paul-bo-jonabassa.jpg" alt="Photo of a Gibson Les Paul">
        <mat-card-content>
          <p>
            Made in 1957 in Gibson's factory in Kalamazoo, Michigan, this is one of the finest guitars in Bo's huge collection of vintage gear.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="card-actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card mat-elevation-z5">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
          <mat-card-title>Fender Stratocaster</mat-card-title>
          <mat-card-subtitle>Dravid Krilmour</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/fender-stratocaster-dravid-krilmour-signature.jpg" alt="Photo of a Fender Stratocaster">
        <mat-card-content>
          <p>
            Dravid's famous "black strat" which fetched a staggering $3,950,000 for charity when it was sold at auction by Christies in 2019. 
            Played on famous albums "Dark Slide of the Balloon" and "The Crawl".
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="card-actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
